# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
conda install -c conda-forge gmaps

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
output_data_file = "../starter_code/weather_df.csv"
# output_data_file

types_df = pd.read_csv(output_data_file)

weather_data_df = types_df.drop(columns=["Unnamed: 0"])
weather_data_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,atuona,0,PF,1602110313,75,-9.80,-139.03,77.92,15.55
1,taoudenni,39,ML,1602110313,14,22.68,-3.98,92.61,17.36
2,tocopilla,20,CL,1602110313,62,-22.09,-70.20,64.24,10.49
3,tiksi,0,RU,1602110313,94,71.69,128.87,17.42,12.66
4,busselton,7,AU,1602110313,88,-33.65,115.33,50.00,5.95
...,...,...,...,...,...,...,...,...,...
549,sioux lookout,1,US,1602110376,27,42.73,-96.23,79.00,10.29
550,ujszasz,90,HU,1602110376,100,47.30,20.08,55.40,9.17
551,chirongui,90,YT,1602110376,83,-12.93,45.15,78.80,5.82
552,west plains,5,US,1602110176,33,31.80,-97.09,87.80,6.93
553,kupang,100,ID,1602110452,76,-10.17,123.58,81.00,5.68

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
locations = weather_data_df[["Lat", "Lng"]]
# locations

humidity = weather_data_df["Humidity"].astype(float)

# humidity

# figure_layout = {
#     'width' : '1000px',
#     'height':'400px',
#     'border':'1px solid black',
#     'padding':'1px',
#     'margin':'0 auto 0 auto'
# }

# fig = gmaps.figure(layout=figure_layout)

fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                   dissipating=False, max_intensity=5,
                                   point_radius=1)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
new_types_df = pd.DataFrame(weather_data_df, columns = ["City", "Max Temp", "Wind Speed", "Cloudiness"])

max_temp = (new_types_df["Max Temp"] <= 80) & (new_types_df["Max Temp"] > 70)
wind_speed = new_types_df["Wind Speed"] < 10
cloudiness = new_types_df["Cloudiness"] == 0

# new_types_df[max_temp & wind_speed & cloudiness]
new_types_df[max_temp & wind_speed & cloudiness]

               City  Max Temp  Wind Speed  Cloudiness
81         havelock     75.00        7.20           0
82           gerash     75.20        2.15           0
86      bahia honda     73.45        5.08           0
110  saint-philippe     71.60        8.05           0
126          maceio     73.40        8.05           0
146        buraydah     78.80        5.82           0
152             sur     77.77        7.02           0
228       saint-leu     71.60        8.05           0
245         rafaela     73.00        4.00           0
250          touros     77.00        5.82           0
356           tigre     73.40        9.17           0
446         awjilah     74.35        1.07           0
470          riyadh     78.80        2.24           0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df = pd.DataFrame(weather_data_df, columns=["City", "Country", "Lat", "Lng"])

hotel_df["Hotel Name"] = ""
# hotel_df["Coordinates"]=""
hotel_df

              City Country    Lat     Lng Hotel Name
0           atuona      PF  -9.80 -139.03
1        taoudenni      ML  22.68   -3.98
2        tocopilla      CL -22.09  -70.20
3            tiksi      RU  71.69  128.87
4        busselton      AU -33.65  115.33
..             ...     ...    ...     ...        ...
549  sioux lookout      US  42.73  -96.23
550        ujszasz      HU  47.30   20.08
551      chirongui      YT -12.93   45.15
552    west plains      US  31.80  -97.09
553         kupang      ID -10.17  123.58

[554 rows x 5 columns]

In [8]:
target_coordinates = f"{hotel_df['Lat'][0]},{hotel_df['Lng'][0]}"
target_search = "hotel"
target_radius = 5000
target_type = "hotel"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)

In [9]:
pprint(response.json(), depth=1)

{'html_attributions': [], 'results': [...], 'status': 'OK'}

In [10]:
hotel_df.iloc[0][0]

'atuona'

In [16]:
#creates a list to capture hotel_names to insert into dataframe
hotel_name = []

# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

# taken from Airpost_Ratings Example done in class
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))
    try:
#         hotel_df.iloc[index, 4] = name_address['results'][0]['name']
        hotel_name.append(name_address['results'][0]['name'])
    except IndexError:
        hotel_name.append(np.nan)

In [17]:
hotel_name

['Hôtel Hiva Oa Hanakee Lodge',
 nan,
 'Hotel Royal Tocopilla',
 'Arktika',
 'Abbey Beach Resort',
 'Al shukri hotel',
 'Hotel Intercity Suape Costa Dourada',
 nan,
 'Bonthe Holiday Village',
 nan,
 "Smitty's Bed and Breakfast",
 'Pacific Resort Rarotonga',
 nan,
 'Arakur Ushuaia Resort & Spa',
 'Pestana',
 'Chautauqua Harbor Hotel',
 nan,
 nan,
 'Last Light Lodge',
 'Pebbles Inn',
 nan,
 'Hotel Krishna Residency',
 'K-POP HOTEL Seoul Tower',
 nan,
 'Miri Marriott Resort & Spa',
 nan,
 nan,
 'Era Spa',
 'Hotel Miramar',
 'Nuli Sapi',
 'Hotel Hacienda Vieja',
 'Talnakh Hotel',
 'InterContinental Bora Bora Resort Thalasso Spa',
 'Namatanai Hotel',
 'Hostal Molino Viejo',
 'Приватний гуртожиток',
 'One Marine Drive Boutique Hotel',
 'Hotel Castelo',
 'Hotel Kap Farvel',
 'Lukoil',
 'Gostinitsa "Ishim"',
 'Clove Island Zanzibar Villas & Spa',
 nan,
 'Osmani Hotel',
 'Eysturland Lodge',
 'Hotel Paraiso Bom Jesus Breves',
 nan,
 'Days Hotel & Suites Ivy Zunyi',
 "Ellie's Villa",
 'THE REDWOOD RIVERWALK HOTEL',
 nan,
 nan,
 'Hótel Höfn',
 'De Hoop Collection',
 nan,
 'Salalah Gardens Hotel',
 nan,
 'Hotel Angmagssalik',
 'Gostinitsa "Aya-Ganga"',
 'SkylineInn Hotel',
 'Hotel Ecológico Gota del Chaco',
 'Best Western Hotel Cristallo',
 'Lakeview Hotel Motel',
 'Embassy Beach',
 'TownePlace Suites by Marriott Owensboro',
 'Hotel Kargasok',
 'Hotel Rivera',
 "Pension Maro'i",
 'Frobisher Inn',
 'Top of the World Hotel',
 'Polyarnaya Zvezda',
 'Blue Planet São Jorge Azores AL',
 'Padadita Beach Hotel',
 nan,
 'Hotel Galapagos',
 'Mercure Bengkulu',
 'Hotel Rio Perlas Spa and Resort',
 'LUXEZ garden house',
 'Tianyuan International Hotel',
 'Hotel Punta León',
 'Botany Bay Hotel',
 'Holiday Inn Express & Suites Havelock NW-New Bern',
 'Chelpasin',
 'Premier Hotel Palazzo',
 'Sakaiminato Yunagi no Yu Onyado Nono',
 'Di Capri Hotel',
 nan,
 'Mehamn Arctic Hotel AS',
 'Gostinitsa "Zapolyar\'ye"',
 'Courtyard by Marriott Danbury',
 "Munitsipal'naya Gostinitsa",
 'Hengifoss Guesthouse',
 'Grand Park Hotel Panex Iwaki',
 'Hehuang Mingzhu International Hotel',
 "Water's Edge Shoreside Suites",
 'Hotel Arctic',
 nan,
 'Motel Le Golf',
 'Hotel Sai Residency',
 'Hotel Marien',
 nan,
 'Scandic Bryggen',
 'Gostevoy Dom',
 "Land's End Boutique Hotel",
 nan,
 'Moli International Hotel',
 nan,
 'Hotel Costa Esmeralda Suites',
 nan,
 'The Garden Hotel Korla',
 'Les Embruns Du Baril',
 'Hotel Castrum Villae',
 'Saoirses East',
 nan,
 'Gostinitsa "Angara"',
 'HIJO BURITI HOTEL',
 'Sandaun Surf Hotel',
 'Hilton Garden Inn Kauai Wailua Bay',
 nan,
 'Trailways Hotel',
 'Kak Doma',
 'Best Western Plus Humboldt Bay Inn',
 'Eastern & Oriental Hotel, Penang',
 'Holiday Inn Express Iquique',
 'Hotel Fanilo',
 'Gostinitsa',
 'Jatiúca Hotel & Resort',
 nan,
 'Clarion Cedar Court Huddersfield Hotel',
 nan,
 'Hotel Oasis Atlantico Praiamar',
 'Le gîte du Koniambo',
 'Hotel Rural Casa de Los Camellos',
 'Hotel Cururupu',
 'Hotel Grand Chancellor Hobart',
 'Tayga, Gostinitsa',
 'The Rocks Chalets',
 'Manchebo Beach Resort & Spa',
 'Urano Business Hotel',
 'Azalaï Hôtel de la Plage',
 'Complejo Villa Don Cata',
 'Lou Moon Resort - Eco Luxury',
 'Hilton Garden Inn Sacramento Elk Grove',
 'Holiday Inn Mauritius Mon Tresor',
 nan,
 'Hotel Meuligoe',
 'فندق براند القصيم',
 'Mystic Sands',
 nan,
 'Veneza Plaza Hotel',
 'Opuwo Country Lodge',
 nan,
 'Sur Plaza Hotel',
 'Hotel Santoro',
 'Sberbank Rossii',
 'Best Western Kodiak Inn and Convention Center',
 'The Adventures Inn-Peleliu',
 'Bensvik Brygge',
 'hotel diamond',
 'ÒJIQ OVUL',
 nan,
 'The Duniway Portland, A Hilton Hotel',
 'Wit Hotel',
 'Bertelli Chuí Hotel',
 'Grander Mühle',
 'Qaanaaq Hotel',
 'Dom Otdykha "Pastoral\'"',
 "The Trainmaster's Inn",
 'Grand Naniloa Hotel Hilo - a DoubleTree by Hilton',
 'Braidwood Motel',
 'Almaha Marrakech',
 'Havøysund Hotel & Rorbuer',
 nan,
 nan,
 'Café de Upernavik',
 'Hospitality Carnarvon',
 '赤壁天伦皇朝国际酒店',
 'Hotel Brisas del Mar',
 'Pousada Encanto Abrolhos',
 nan,
 'Sberbank Rossii',
 'Finger Lakes Hotel',
 nan,
 'The Retreat at Blue Lagoon Iceland',
 nan,
 "Marriott's Ko Olina Beach Club",
 'Hotel Embaixador',
 'Ungoofaaru Inn',
 'InterContinental - ANA Ishigaki Resort',
 nan,
 'Hotel Sai Residency',
 'Hotel Amanecer - Sechura',
 'PORTO RIO HOTEL & CASINO',
 'Hotel Castrum Villae',
 'Gîte du Château',
 'Ghaseali Island Resort',
 'Hotel Taboka',
 nan,
 'Abha Palace Hotel',
 'Pestana',
 'La Vista Kushirogawa',
 'The Explorer Hotel',
 'in Western',
 nan,
 'Hilton Makkah Convention Hotel',
 'Hotel King Star',
 nan,
 'Hotel Polo Orchid',
 'Diyor hotel',
 'HOTEL VALENCIA',
 'Hotel Nixe Palace',
 nan,
 nan,
 'Hotel Hilltone',
 'HOSPEDAJE XIMENA',
 'Graciosa Resort - Biosphere Island Hotel',
 'Hotel Santoro',
 'Swiss Belhotel Manokwari',
 'Best Western Plus Atlantic Hotel',
 'Gostinitsa "Agul"',
 nan,
 'Villa Majestic Bihac',
 'Nusa Island Retreat',
 nan,
 'Woodridge Inn',
 'Manor Court Hotel & Azzurro Ristorante Italiano',
 'Sanatorium Ak-Niet',
 'Springbok Inn by Country Hotels',
 'Iloha Seaview Hotel',
 'Basilan Business Hotel',
 'Hollins',
 'Radisson Hotel Cincinnati Riverfront',
 'Sømandshjemmet',
 nan,
 'Panamericana Hotel Ancud',
 'El Patio de los Jazmines',
 nan,
 nan,
 'Sundog Inn',
 'ЧУМ HOTEL',
 'Royal Amazonia',
 nan,
 nan,
 'Zhangye Lvzhou Holiday Inn',
 'The Ritz-Carlton, Almaty',
 'Amérian Rafaela Hotel',
 'Hotel Severyanka',
 nan,
 'Pearle Beach Resort & Spa',
 nan,
 'Hotel Vila Gale Touros',
 'Ocean Centre Hotel',
 nan,
 'Hotel Terrazas Del Mar - Huacho',
 'Hostal Plaza Lebu',
 nan,
 'Hotel Buchanan Liberia',
 'Uyutnaya Mini-Hotel',
 'Freddies Santai Sumurtiga',
 'Maui Beach Hotel',
 'Tunka-350',
 'Radisson Blu Polar Hotel, Spitsbergen',
 'Hotel Casa Do Capitão',
 'Shrestha Hotel',
 nan,
 nan,
 'Best Western Plus Norman',
 'Crowne Plaza Ordos',
 'Prima Indah Hotel',
 'Hotel Santorini',
 'turistico HOTEL',
 'ROS HOTEL Izmailovo',
 'Ulvesund FYR',
 nan,
 'Best Western Thompson Hotel & Suites',
 'Russia',
 'Hotel Meligai Kapit',
 'BRIM B&B',
 'Villa Okapale',
 'Yalemd',
 'La Chartreuse du Bignac',
 'SpringHill Suites by Marriott Fairbanks',
 'Aspen Suites Hotel Haines',
 'Horseshoe Bay Resort',
 'Pandeglang Raya Hotel',
 'Cape Fox Lodge',
 'Gostinichnyy Kompleks Vostok',
 'Jeyads Lodge',
 'Noxapaga Suites',
 nan,
 'Letaba Boutique and Spa',
 'Barbaris',
 'Hotel Oka',
 nan,
 'MAYFAIR Spa Resort & Casino, Gangtok',
 'yaad Hotal',
 'Tottori Green Hotel Morris',
 nan,
 'Hotel West',
 "Nana's Lodge",
 'Hotel Ular',
 nan,
 'DANNYHOMES',
 'Xiujiang International Hotel',
 'Hôtel Le Berger',
 'GCMF Office & Lodge',
 'Reserva los Bollenes',
 'Pangnirtung Fjordview Bed and Breakfast',
 nan,
 nan,
 'Itararé Hotel',
 'EPIC SANA Luanda',
 'Lengshuijiang Bonny International Hotel',
 'Sberbank Rossii',
 'Grand Hotel President',
 'Talbot & Bons Boutique Bed & Breakfast',
 'Hôtel Georges Faustin Aurat',
 nan,
 'Seashells Mandurah',
 '工商银行',
 'Protea Hotel by Marriott Saldanha Bay',
 'Riu Hotels Maldives',
 'Gostinitsa V Salyme',
 nan,
 'The Jetty Resort',
 'Holiday Club Kuusamo',
 nan,
 'Beira Terrace Hotel',
 'HOTEL RIO SOL EXPRESS',
 'Loch Ness Lodge Hotel',
 'Prestige Hudson Bay Lodge',
 nan,
 nan,
 'Bulls and Anchor Inn',
 nan,
 'GreenTree Eastern Bengbu Huanyuan Bus Station Jingshan Townhall',
 'Taloa Heights',
 'Pension Feldgärtenhof',
 nan,
 'TELEBORGS SLOTT',
 'The Swan At Hay Hotel',
 'Hotell Frøya',
 'Airth Castle Hotel',
 'Comfort Inn',
 'Casa Andina Standard Talara',
 nan,
 'Clarion Hotel The Edge',
 'Hotel Villa del Río',
 'Gold Hotel',
 'Pousada Pontal Sunset',
 'Soneva Fushi',
 'Blue Rock Resort',
 'Karratha International Hotel',
 'Blueberry Town Theme Hotel',
 'Les Chalets',
 nan,
 'Hotel Villa Victoria de Tigre',
 'Hotel Vestmannaeyjar',
 'Hotel Holiday',
 'Lorengau Harbourside Hotel',
 nan,
 nan,
 'Government Guest House',
 'Sberbank Rossii',
 'Atlantis Hotel',
 nan,
 'Sberbank Rossii',
 'Hotel Chik Chik Namibe',
 'HARRIS Hotel Pontianak',
 'Sberbank Rossii',
 'Natchez Grand Hotel',
 'Fen Hotel',
 'Sberbank Rossii',
 nan,
 'Hotel Santoro',
 'Quarumanu area',
 'Casa Barsan',
 nan,
 nan,
 'Hotel Narsaq',
 'Sberbank Rossii',
 'Gostinitsa Kedr',
 'Vardø Hotel AS',
 nan,
 'Beringgorski',
 'Pine Lodge Bulolo',
 'Bay House',
 'Vienna International Hotel',
 'Clandestino Beach Resort',
 'Splash Guest House',
 nan,
 'Fosshotel Húsavík',
 'Gostinitsa "Oolit"',
 nan,
 nan,
 nan,
 'Pousada O Nativo',
 nan,
 'Red Roof Inn Clyde',
 'Sberbank',
 'LÜDERITZ NEST HOTEL',
 'Hotel Eldorado',
 'Resort Uhenha',
 'Hotel VOYAGE',
 'Hotel Restaurant Ter Linde',
 'Hotel Melva Suite',
 'Renaissance Hong Kong Harbour View Hotel',
 'Diamante Rosa Palace Hotel',
 'Beachfront Hotel Hokitika',
 'Hotel Fazenda Triunfo',
 'Lukoil',
 'Deep Blue',
 nan,
 '"Avantage" hotel',
 'Devyatochka',
 'Hotel Avan Sukumo',
 nan,
 'Hotel New Palace',
 'The Oasis Motel',
 'Coburn Hotel',
 nan,
 'Fairfield Inn & Suites by Marriott Tucumcari',
 'Zhengfang Hotel （West Gate）',
 'Fairfield Inn & Suites by Marriott Detroit Lakes',
 'Park Hotell Rjukan',
 'Hotel Andrea',
 'Salam Hotel',
 'Rossi Hotel',
 'La Dolce Vita',
 'Hotel Arktika',
 nan,
 'Boutique Guesthouse Mariental',
 nan,
 nan,
 'Nacional Palace Hotel',
 'Pahrump Nugget',
 'Altai Oasis Eco lodge',
 'Hampton Inn Alice',
 nan,
 'Gostinitsa Edem',
 'Barefoot Guest House',
 nan,
 nan,
 'Bracken Court Hotel',
 'Quality Hotel Lakeside',
 'Hotel Santoro',
 nan,
 'Otel\' "Medvezh\'ye"',
 'Hotel Sou',
 'Hotel G Beach Resort and Restobar',
 'Portside Hotel - Heritage Collection',
 nan,
 'Ust-Kut, Lena Hotel',
 'Well hotel Khovd',
 'The Westin Resort & Spa, Puerto Vallarta',
 'Holiday Inn Saint Louis West at Six Flags',
 'Mecca Hotel',
 'Codrington Gardens Bed And Breakfast',
 'Hotel Santoro',
 'Onezhskaya Gora',
 'Hotel Castelo Branco',
 'Home Inn',
 'Four Points by Sheraton Pleasanton',
 'The St. Regis Zhuhai',
 'Casa Do Mudo',
 'Le Battant Des Lames',
 nan,
 'Radisson Blu Resort Temple Bay Mamallapuram',
 'Saddam Hotel & Resturant',
 'The Huts',
 'Best Western Plus Fursan Hotel',
 'Hotel Sai Residency',
 'The Fern Sattva Resort Dwarka',
 nan,
 nan,
 'Jade Green Hotel Hambantota',
 'Hotel Oasis Atlantico Praiamar',
 'Blue Planet São Jorge Azores AL',
 'Château de Champlong',
 'Shangri-la Hotel,Qinhuangdao',
 'Hotel La Palma',
 nan,
 'Premium Hotel',
 'Hotel Davimar',
 'Coevorden Castle',
 nan,
 'うるまドーム | URUMA DOME',
 '別邸 海と森',
 'Durrant House Hotel',
 'Hotel Phudzi',
 'Hotel Hans Egede',
 'Sitka Hotel',
 nan,
 "Valériu's Palace Hotel",
 'MBM HOTEL',
 'La Sapienza Hotel',
 'Latitude20 Roebourne Village',
 'Hotel Nattoralik',
 'Aald Harbour Bed & Breakfast Ltd',
 nan,
 'E-Hotel Muravlenko',
 'Rotana Luxurious Hotel & Re',
 'Super secret pirate cove',
 'Playa Municipal De Ayolas',
 'La Dolisienne',
 'The Blue Sky Hotel and Tower',
 'Days Inn & Suites by Wyndham Rochester Hills MI',
 nan,
 'Clarion Cedar Court Huddersfield Hotel',
 nan,
 'Hotel Val Paraíso',
 'Buiten Verwagten',
 'Peponi Hotel',
 nan,
 'Cassowary Hotel',
 'La Parrilla Hotel - Restaurante Albox',
 'HOTEL R. SOARES',
 'Maya de la Amazonia Hotel Boutique',
 'Hôtel Opémiska',
 'Bastión Luxury Hotel',
 'Royal Mansion Hotel',
 nan,
 'Hotel Almas',
 'American Inn & Suites',
 'Ponta Anchaca',
 'Coqueiro Verde',
 'Melrose',
 'Hampton Inn Springfield',
 nan,
 'Hilton Garden Inn Dandong',
 nan,
 'Waterfront Apartments',
 nan,
 nan,
 'Pestana',
 'Medhufushi Island Resort',
 'Sberbank Rossii',
 'Gostinitsa Ostrov',
 'Wingate By Wyndham Rome',
 nan,
 'Küster Hotel | Guarapuava',
 'Hotel Narsingh Plaza',
 'Aparthotel Mil Cidades',
 'Mini-Hotel Lokomotiv',
 'Compass Lodge',
 'Hotel Krishna Residency',
 nan,
 'Gizo Hotel',
 'Gostinitsa "Viktoriya"',
 nan,
 nan,
 'La Villa Mahatsara',
 'Holiday Inn Express & Suites N Waco Area - West',
 'ASTON Kupang Hotel & Convention Center']

In [18]:
hotel_df['Hotel Name']= hotel_name
hotel_df.dropna()
hotel_df.to_csv('hotel_export.csv')

In [19]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [20]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))